/GitHubtest/nbproject/private/
/GitHubtest/build/
/GitHubtest/dist/
/ASCII-TANK/nbproject/private/
/ASCII-TANK/dist/
/ASCII-TANK/build/
/Opgave11/nbproject/private/
/Opgave11/build/
/Opgave11/dist/
/ArrayFun/nbproject/private/
/ArrayFun/build/
/F-Sort/nbproject/private/
/F-Sort/build/
/F-Sort/dist/
/ArrayFun/dist/
/ArraySort/nbproject/private/
/ArraySort/build/
/ArraySort/dist/